﻿@model Films.Models.FilmDb


@{
    ViewBag.Title = "AddNewFilm";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("AddNewFilm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>Новый фильм</h2>
                <div>
                    @Html.LabelFor(model => model.Name, "Название фильма")
                    <br />
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "formNew" } })
                    <br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Producer, "Продюссер")
                    <br />
                    @Html.EditorFor(model => model.Producer, new { htmlAttributes = new { @class = "formNew" } })
                    <br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Description, "Описание")
                    <br />
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "formNew" }})
                    <br /><br />
                </div>
                <div>
                    @Html.LabelFor(model => model.Date, "Дата выхода")
                    <br />
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "formNew" } })
                    <br /><br />
                </div>
                <div>
                    <label for="uploadPosters">Постер: </label>
                    <p>
                        <input type="file" name="uploadPosters" id="uploadPosters" accept="image/png, image/jpeg" />
                        <br /><br />
                    </p>
                </div>
                <input type="submit" value="Добавить" class="btn but btn-default"/>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
}

