﻿@model Films.Models.User

@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h3>Все пользоваетли</h3>
    <table>
        <tr>
            <td><p>Email</p></td>
            <td><p>Password</p></td>
            <td><p>Roles</p></td>
        </tr>
        @foreach (var f in ViewBag.Users)
        {
            <tr>
                <td><p>@f.Email</p></td>
                <td><p>@f.Password</p></td>
                <td><p>@f.Roles</p></td>
            </tr>
        }
    </table>
</div>


