﻿@model Films.Models.FilmDb

@{
    ViewBag.Title = "Edit";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Edit", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>Редактировать фильм: @ViewBag.Film.Name</h2>
                <div>
                    @Html.EditorFor(model => model.IdUser, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.IdUser, "", new {@class = "text-danger"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Producer, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Producer, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Producer, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"" + Url.Content(ViewBag.Poster.Image) + "\" />")
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label for="uploadPosters">Новый постер:</label>
                        <p>
                            <input type="file" name="uploadPosters" id="uploadPosters" accept="image/png, image/jpeg"/>
                        </p>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <label>Удалить постер?</label>
                        @Html.RadioButton("delitPoster", true, htmlAttributes: new {@class = "radioB"}) Yes
                        @Html.RadioButton("delitPoster", false, true, htmlAttributes: new {@class = "radioB"}) No
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Сохранить" class="btn btn-default but"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>

    </div>
}
