﻿@model Films.Models.IndexViewModel
@using Films.Helpers

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col-lg-4">Постер</th>
                    <th scope="col-lg-4">Название</th>
                    <th scope="col-lg-4">Описание</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Films)
                {
                    <tr>
                        <td scope="col-lg-4">
                            @foreach (var p in ViewBag.PostersDb)
                            {
                                if (p.Id == item.IdPoster)
                                {
                                    @Html.Raw("<img style='width:160px; height:90px;' src=\"" + Url.Content(p.Image) + "\" />")
                                }
                            }
                        </td>
                        <td scope="col-lg-4">
                            <p>
                                @if (item.Name == null)
                                {
                                    @Html.ActionLink("ТЕСТ", "ViewFilm", new {id = item.Id})
                                }
                                else
                                {
                                    @Html.ActionLink(item.Name, "ViewFilm", new {id = item.Id})
                                }
                            </p>
                        </td>
                        <td scope="col-lg-4">
                            <p> @item.Description</p>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="btn-group col-lg-10">
            @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new {page = x}))
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>


