﻿@model Films.Models.FilmDb

@{
    ViewBag.Title = "ViewFilm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <dl>
                <dt>@ViewBag.Film.Name</dt>
                <dt>
                    @Html.Raw("<img style='width:120px; height:120px;' src=\"" + Url.Content(ViewBag.Poster.Image) + "\" />")
                </dt>
                <dt>
                    Продюссер
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Producer)
                </dd>
                <dt>
                    Дата выхода в прокат
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt>
                    Описание
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            @if (ViewBag.IdUser != null && ViewBag.Film.IdUser == ViewBag.IdUser)
            {
                <form action="/Home/Edit/@ViewBag.Film.Id">
                    <input type="submit" value="Редактировать" class="btn btn-default but"/>
                </form>
                @*@Html.ActionLink("Редактировать", "Edit", new { id = ViewBag.Film.Id })*@
            }
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>



