﻿@model Films.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <h2>Войти</h2>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Войти на сайт" class="btn btn-default but" />
                    </div>
                    <br />
                </div>
                @*<div class="col-md-offset-2 col-md-10">
                    <form action="/Account/Register">
                        <input type="submit" value="Регистрация" class="btn btn-default but" />
                    </form>
                </div>*@

                @*<div>
                    <form action="/Account/Register">
                        <input type="submit" value="Регистрация" class="btn btn-default but" />
                    </form>
                </div>*@



                @*<div class="btn btn-default">
            @Html.ActionLink("Регистрация", "Register")
        </div>*@
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
}
