﻿body {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    background-color: #f7f7fa;
    padding-right: 30px;
    padding-left: 40px;
}

table {
    vertical-align: middle;
    text-align: left;
    table-layout: fixed;
    width: 100%
}

td {
    word-wrap: break-word;
    padding-right:10px;
}

input {
    width: 350px;
}

.but{
    width: 150px;
}
.radioB{
    width: 25px;
}

.nav{
    display: block;
    border-left: 10px;
    padding-bottom: 15px;
    margin-left: 15px;
}
  
.menu {
    padding-left:10px;
}
.menu ul {
    list-style:none;
}
.menu li {
    display:inline;
}
.menu a:hover {
    color:red;
}
.header {
    font-weight:bold;
}

.formNew {
    width: 100%;
}



