﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
</head>
 
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">
            <div class="nav">
                @Html.ActionLink("Главная", "Index", "Home")
            </div>

        </div>
        <div class="col-lg-1">
            <div class="nav">
                @Html.ActionLink("Регистраци", "Register", "Account")
            </div>
        </div>
        <div class="col-lg-3">
            <div class="nav">
                @Html.ActionLink("Добавить новый фильм", "AddNewFilm", "Home")
            </div>
        </div>
        <div class="col-lg-1">
            <div class="nav">
                @Html.ActionLink("Вход", "Login", "Account")
            </div>
        </div>
        <div clss="col-lg-5"></div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>